* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: #040116;
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}
/* @keyframes strikeitem {
  to {
    width: calc(100% a+ 1rem);
  }
} */
